%header.header
	%nav.header__nav
		%a.header__avatar{:href => "#"}
			%img{:alt => "avatar", :src => "icons/avatar.png"}/

		.header__menu
			%a.header__icon{:href => "#"}
				%img{:alt => "search", :src => "icons/search.png"}/

			%a.header__icon{:href => "#"}
				%img{:alt => "options", :src => "icons/options.png"}/

	.header__subheader
		%h2.header__title Your top movies

%section.movie-list
	/ First (large) movie poster
	.movie-list__cover.movie-list__cover--large.movie-list__cover--1{:style => "background-image: url(#{url_for(@first_movie.image)})"}
	.movie-list__position.movie-list__position--large
		%span.movie-list__number.movie-list__number--large #{@first_movie.position}
	
	/ Small posters
	%ul.movie-list__caroussel
		- @movies.each do |movie|
			%li.movie-list__cover.movie-list__cover--small{:style => "background-image: url(#{url_for(movie.image)})"}
				.movie-list__position.movie-list__position--small
					%span.movie-list__number.movie-list__number--small  #{movie.position}
	

%a.edit-button{:href => "#"}
	%img.edit-button__img{:alt => "", :src => "icons/edit.png"}/