* {
	@apply m-0 p-0;
}

html, body {
	@apply h-full w-full box-border overflow-y-hidden text-white; 
    font-family: 'Montserrat', sans-serif; 
}

.header {
	@apply block absolute w-full h-auto pb-2 z-50 bg-black/60;

    &__nav {
		@apply flex w-full items-center justify-between box-border;
    }

    &__avatar {
        @apply inline-block pt-2.5 pl-2.5;
    }

    &__menu {
        @apply inline-block p-2;
    }

    &__icon {
        @apply mr-2.5 align-middle inline-block;
    }

    &__subheader {
        @apply block pl-4;
    }

    &__title {
        @apply m-0 font-normal text-xl;
    }
}

.movie-list {
    @apply block relative w-full h-auto bg-black;

    &__cover {
        @apply bg-cover;
        background-position: center bottom;

        &--large {
            @apply block relative w-full h-[70vh];
        }

        &--small {
           @apply inline-block relative h-[25vh] w-[35%] mr-1.5;
        }
    }

    &__position {
        @apply flex absolute items-center justify-center z-50 bg-black/60;

        &--large {
            @apply h-12 w-12 top-[17%] right-[3%];
        }

        &--small {
            @apply h-10 w-10 top-0 right-0 z-50;
        }
    }

    &__number {
        &--large {
            @apply text-2xl font-bold;
        }
    
        &--small {
            @apply text-xl font-bold;
        }
    }

    &__caroussel {
        @apply block overflow-scroll bg-black whitespace-nowrap pt-3.5 pr-5 pl-5 h-[30vh];
    }
}
                
.edit-button {
    @apply block absolute bg-white p-4 z-50 rounded-full bottom-[3%] right-[3%];   

    &__img {
        @apply align-middle;
    }
}